.testimonials-section {
  width: 100%;
  margin-bottom: 3rem;
  display: flex;
  padding: 0;
}

.testimonials-container {
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
}

.testimonials-container h1 {
  color: #3E6B94;
  padding: 2rem;
  text-align: center;
  border-bottom: 1px solid #e2e2e2;
}

.testimonials {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
}

.testimonial-article {
  border: 1px solid #ececec;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.testimonial-article h5 {
  color: #3E6B94;
  text-align: center;
}

.testimonial-article h6 {
  color: #a9a7a7;
  text-align: center;
  margin-bottom: 2rem;
}

.testimonial-article p {
  font-size: 0.9rem;
  text-align: center;
  font-style: italic;
}

.client-logo-header {
  color: #3E6B94;
  margin: 1rem auto 3rem;
  text-align: center;
}

.client-logos {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
}

.client-logos div {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.client-logo-img {
    width: 10rem;
    height: 3rem;
    border: 1px solid #676666;
    border-radius: 5px;
  }
  
.client-logo-img:hover {
  cursor: pointer;
  width: 10.5rem;
  height: 3.5rem;
}

@media screen and (min-width: 1024px) {

  .testimonials-container {
    width: 100%;
    max-width: 1400px;
    padding: 0 5rem;
  }

  .testimonials {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .testimonial-article {
    padding: 3rem;
    margin: 1rem;
  }

  .testimonial-article p {
    font-size: 1rem;
  }

  .client-logos {
    height: 4rem;
    grid-template-columns: repeat(3, 1fr);
  }

  .client-logos div {
    margin-bottom: 3rem;
  }
}

@media screen and (min-width: 768px) {
  .client-logos {
    grid-template-columns: repeat(5, 1fr);
  }
}